.heart-beat-animation, #logo:hover {
  display: inline-block;
  transform: rotate(45deg);
  animation: heart-beat-animation 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes heart-beat-animation {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
.rolling-animation {
  display: inline-block;
  animation: rolling-animation 1s infinite;
}

@keyframes rolling-animation {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(720deg);
  }
}
.heart-beat-animation, #logo:hover {
  display: inline-block;
  transform: rotate(45deg);
  animation: heart-beat-animation 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes heart-beat-animation {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
.rolling-animation {
  display: inline-block;
  animation: rolling-animation 1s infinite;
}

@keyframes rolling-animation {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(720deg);
  }
}
#sidebar {
  background-color: black;
  height: 100vh;
  width: 90px;
  top: 0;
  left: 0;
  position: fixed;
  transition: all 0.3s;
}
@media (max-width: 767.98px) {
  #sidebar {
    margin-left: -150px;
    width: 150px;
    z-index: 9000;
  }
}

@media (max-width: 767.98px) {
  #sidebar.active {
    margin-left: 0;
  }
}

#logo {
  width: 50px;
  padding-top: 10px;
  transition-duration: 100ms;
}
@media (max-width: 767.98px) {
  #logo {
    width: 75px;
  }
}

.logo_wrapper {
  width: 150px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .logo_wrapper {
    width: 150px;
  }
}

.nav-btns, .nav-social-btn, .nav-btn {
  width: 89px;
  height: 50px;
  margin: 0 -15px 0 -15px;
  vertical-align: center;
  border-radius: 0;
  transition: all 0.3s;
}
@media (max-width: 767.98px) {
  .nav-btns, .nav-social-btn, .nav-btn {
    width: 149px;
  }
}

.nav-btn {
  padding: 15px 2px 15px 2px;
  font-size: 9px;
  text-align: center;
  transition: all 0.3s;
}
.nav-btn:hover {
  background-color: #242424;
}
@media (max-width: 767.98px) {
  .nav-btn {
    padding: 15px 2px 15px 40px;
    text-align: left;
  }
}

.nav-cont-on-hover, .nav-btn > i > span, .nav-btn:hover > i > span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 8px;
}

@media (min-width: 576px) {
  .nav-btn:hover > i > span:after {
    content: attr(data-after);
    margin-left: 5px;
  }
}

@media (max-width: 767.98px) {
  .nav-btn > i > span {
    text-align: left;
    margin-left: 3px;
  }
  .nav-btn > i > span:after {
    content: attr(data-after);
  }
}

.nav-btn-group {
  padding-top: 180px;
}

.nav-social-btn {
  padding: 8px 2px 8px 2px;
  font-size: 15px;
  text-align: center;
}

.nav-social-btn-group {
  padding-top: 130px;
  text-align: center;
}

.fa-social-btn:hover {
  color: #00acc1;
}

.nav_profile_img {
  width: 50px;
  height: 50px;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: rgba(255, 255, 255, 0.23);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 767.98px) {
  .overlay.active {
    display: block;
    opacity: 1;
  }
}

.collapseBarsWrapper {
  height: 100px;
}

#collapseBars {
  display: none;
}
@media (max-width: 767.98px) {
  #collapseBars {
    display: inline;
    padding: 0 7px 0 7px;
    top: 25px;
    left: 10px;
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}

#dismiss {
  display: none;
}

@media (max-width: 767.98px) {
  #dismiss.active {
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    color: white;
    top: 10px;
    left: 130px;
  }
}

body {
  background-color: rgba(30, 30, 30, 0.7);
}

ul, li {
  list-style: none;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

p:hover, p:visited, p:active, a:hover, a:visited, a:link, a:active, li {
  text-decoration: none !important;
  outline: 0;
}

input::-moz-focus-inner {
  border: 0;
}

/*# sourceMappingURL=main.css.map */
