<!--Navbar -->
<!-- Collapse button -->
{% load static %}
<button class="btn btn-outline-white" id="collapseBars" onclick="unCollapse()"><i class="fas fa-bars"></i></button>
<nav class="navbar" id="navBar">
    <a class="navbar-brand pl-2" href="{% url 'home' %}">
        <img src="{% static 'mySite/images/PersonalLogo.png' %}" alt='M' id="logo">
    </a>
    <div class="row white-text" role="group" aria-label="Vertical button group">
        <div class="nav-btn-group">
            <a class="btn shadow-none nav-btn" data-hover=" Home"><i class="fas fa-home fa-2x"></i> </a>
            <a class="btn shadow-none nav-btn" data-hover=" About"><i class="fas fa-address-card fa-2x"></i> </a>
            <a class="btn shadow-none nav-btn" data-hover="Experience"><i class="fas fa-graduation-cap fa-2x"></i> </a>
            <a class="btn shadow-none nav-btn" data-hover="My Work"><i class="fas fa-folder-open fa-2x"></i> </a>
            <a class="btn shadow-none nav-btn" data-hover="Skills"><i class="fas fa-tools fa-2x"></i> </a>
            <a class="btn shadow-none nav-btn" data-hover="Contact"><i class="fas fa-address-book fa-2x"></i> </a>
        </div>


        <div class="nav-social-btn-group">
            <a class="btn shadow-none nav-social-btn text-muted" href="https://github.com/Dforrunner" target="_blank">
                <i class="fab fa-github fa-social-btn"></i>
            </a>
            <a class="btn shadow-none nav-social-btn text-muted" href="https://www.linkedin.com/in/muhammet-barut-b5632675/" target="_blank">
                <i class="fab fa-linkedin fa-social-btn"></i>
            </a>
            <a class="btn shadow-none nav-social-btn text-muted" href="https://www.instagram.com/photommon/?hl=en" target="_blank">
                <i class="fab fa-instagram fa-social-btn"></i>
            </a>
            <a class="nav-link pt-4 pl-2" href="#">
                <img src="https://avatars1.githubusercontent.com/u/33268028?s=400&v=4" class="rounded-circle z-depth-0" alt="avatar image" height="35">
            </a>
        </div>
    </div>
</nav>
<!--/.Navbar -->