@import "modules/variables";
@import "modules/mixins";

#AboutPageWrapper{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(2, 1fr);

  @include media-breakpoint-down(sm){
    margin-top: 90px;
    grid-template-columns: 1fr;
  }
}

.about-text-content{
  width: 500px;

  color: $main-text-color;
  > h1 {
    font-family: $secondary-font;
  }

  > p {
    font-family: $primary-font;
    font-size: 0.9em;
    margin-top: 25px;
  }
}

.about-prof-img {
  border-radius: 10px;
  width: 80%;
  height: auto;

  @include media-breakpoint-down(sm){
      display: none;
  }
}