@import "modules/mixins";

#ContactPageWrapper{
  display: grid;
  grid-area: main;
  @include media-breakpoint-up(sm){
    grid-template-columns: 40% auto;
    grid-template-rows: 100%;
    grid-template-areas: "form map";
  }

  @include media-breakpoint-down(sm){
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "form"
                         "map";
  }
}

// Contact Form
#ContactPageWrapper > #ContactFormWrapper{
  grid-area: form;
}

// Google Map
#ContactPageWrapper > #GoogleMapWrapper{
  grid-area: map;
}