@import "modules/variables";
@import "modules/mixins";
@import 'modules/animations';

// Contact Form
#ContactFormWrapper{
 width: 450px;
}

// Google Map
#GoogleMapWrapper{
 width: 100%;
 height: 100%;
}