@import "modules/variables";
@import "modules/mixins";

#MyWorkPgWrapper{
  margin-left: 30px;
  @include media-breakpoint-down(sm){
    margin-left: 20px;
    margin-top: 70px;
  }
}

#MockupImageGroup{
  text-align: center;
}
.project-img-common{
  vertical-align: bottom;
  margin-left: -5%;
  box-shadow: -5px -6px 10px 1px black;
  margin-top: 5%;
}

.desktop-img{
  @extend .project-img-common;
  max-width: 70%;
}

.tablet-img{
  @extend .project-img-common;
  max-width: 25%;
}

.mobile-img{
  @extend .project-img-common;
  max-width: 10%;
}

.tools-used{
  color: #e2dadc;
  background-color: rgba(6, 6, 6, 0.91);
  font-size: 10px;
  font-family: $primary-font;
  text-align: center;
  border-radius: 10px;
  min-width: 60px;
  padding: 3px 1px 3px 1px;
  margin: 2px;

  &:hover{
    color: cyan;
  }
}

.project-description{
  font-family: $primary-font;
  color: $main-text-color;

}