@import "modules/variables";
@import "modules/mixins";
@import 'modules/animations';

// Sidebar is a React component. It can be found in mySite/src/components/base/sidebar.js

// Navbar
#sidebar{
  background-color: $nav_color;
  height: 100vh;
  width: $nav_width_lg;
  top: 0;
  left: 0;
  position: fixed;
  transition: all 0.3s;
    @include media-breakpoint-down(sm){
      margin-left: -($nav_width_sm);
      width: $nav_width_sm;
      z-index: 9000;
    }
}

#sidebar.active{
   @include media-breakpoint-down(sm) {
     margin-left: 0;
   }
}

//LOGO
#logo{
  width: $logo_size_lg;
  padding-top: 10px;
  transition-duration: 100ms;
  &:hover{
    @extend .heart-beat-animation;
  }
  @include media-breakpoint-down(sm){
    width: $logo_size_sm/2;
  }
}
.logo_wrapper{
  width: $logo_size_sm;
  text-align: center;
  @include media-breakpoint-down(sm){
    width: $logo_size_sm;
  }
}

// Navbar navigation buttons
.nav-btns{
  width: $nav_width_lg - 1;
  height: 50px;
  margin: 0 -15px 0 -15px;
  vertical-align: center;
  border-radius: 0;
  transition: all 0.3s;
  @include media-breakpoint-down(sm){
    width: $nav_width_sm - 1;
  }
}

// Main Navlink styling
.nav-btn{
  @extend .nav-btns;
  padding: 15px 2px 15px 2px;
  font-size: 9px;
  text-align: center;
  transition: all 0.3s;
  &:hover{
    background-color: #242424;
  }
  @include media-breakpoint-down(sm){
    padding: 15px 2px 15px 40px;
    text-align: left;
  }
}

// Shared styling for the sidebar nav buttons
.nav-cont-on-hover{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 8px;
}
// Changing the span content when the nav button is hovered and window width is above sm
.nav-btn:hover > i > span {
  @extend .nav-cont-on-hover;
  @include media-breakpoint-up(sm){
    &:after {
      content: attr(data-after);
      margin-left: 5px;
    }
  }
}
// Changing the span content when the window width is below sm. Not paying attention to hover.
.nav-btn > i > span {
  @extend .nav-cont-on-hover;
  @include media-breakpoint-down(sm){
    text-align: left;
    margin-left: 3px;
    &:after{
      content: attr(data-after);
    }
  }
}

// Sidebar nav button wrapper
.nav-btn-group{
  padding-top: 180px;
}

// Sidebar social media icons
.nav-social-btn{
  @extend .nav-btns;
  padding: 8px 2px 8px 2px;
  font-size: 15px;
  text-align: center;
}
//Sidebar social media icon wrapper
.nav-social-btn-group{
  padding-top: 130px;
  text-align: center;
}

// Font Awesome icons
.fa-social-btn:hover{
  color: #00acc1;
}

.nav_profile_img{
  width: $nav_profile_img_size;
  height: $nav_profile_img_size;
}

// Overlay that shows up when the window width is blow sm and sidebar is open
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: rgba(255, 255, 255, 0.23);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
//display .overlay when it has the .active class
.overlay.active {
  @include media-breakpoint-down(sm) {
    display: block;
    opacity: 1;
  }
}

// Hamburger bar wrapper. It has a fixed height to keep body content from moving up when the hamburger bars disappear
.collapseBarsWrapper{
  height: $collapseBarsWrapper_height;
}

// The hambuger menu button that shows up when the window width is below sm
#collapseBars{
  display: none;
  @include media-breakpoint-down(sm){
    display: inline;
    padding: 0 7px 0 7px;
    top: 25px;
    left: 10px;
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}

// The X button that appears when the window width is below sm, and sidebar is open. It's used to close the sidebar
#dismiss {
  display: none;
}
#dismiss.active{
  @include media-breakpoint-down(sm){
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    color: white;
    top: 10px;
    left: 130px;
  }
}
