@import "modules/variables";
@import "modules/mixins";
@import 'modules/animations';

// Sidebar is a React component. It can be found in mySite/src/components/base/sidebar.js

// Navbar
#sidebar{
  background-color: $nav_color;
  height: 100%;
  z-index: 9000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-breakpoint-up(lg){
    height: 100vh;
    width: $nav_width_lg;
    position: fixed;
    bottom: 0;
    top: 0;
  }
  @include media-breakpoint-only(md){
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100vw;
    height: $nav_width_lg - 20px;
  }
  @include media-breakpoint-down(sm){
    transition-duration: 0.1s;
    width: $nav_width_sm;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-left: -($nav_width_sm + 10px);
  }
}

#sidebar.active{
  @include media-breakpoint-down(sm){
    transition-duration: 0.3s;
    margin-left: 0;
  }
}

//LOGO
#logo{
  width: $logo_size_lg;
  &:hover{
    @extend .heart-beat-animation;
  }
  @include media-breakpoint-down(sm){
    width: $logo_size_sm/2;
  }
}

// Navbar navigation buttons
.nav-btn-common{
  width: $nav_width_lg;
  text-align: center;
  @include media-breakpoint-down(sm){
    width: $nav_width_sm;
  }
}

// Main Navlink styling
.nav-btn{
  @extend .nav-btn-common;
  font-size: 13px;
  height: 20px !important;
  padding: 15px 0 15px 0;
  &:hover{
    background-color: #242424;
  }
  @include media-breakpoint-only(md){
    padding: 25px 0 25px 0;
  }
  @include media-breakpoint-down(sm){
    padding: 15px 0 15px 0;
  }

  i {
    font-size: 18px;
  }
  span {
    font-family: $primary-font;

    @include media-breakpoint-down(sm) {
      &:after {
        content: attr(data-after);
        margin-left: 5px;
      }
    }
  }
}

.nav-btn:hover {
  i {
    @include media-breakpoint-up(md){
      display: none;
    }
  }
  span {
    color: $cyan;
    @include media-breakpoint-up(md) {
      &:after {
        content: attr(data-after);
      }
    }
  }
}

// Sidebar social media icons
.social-btn-group{
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: white;
  @include media-breakpoint-up(lg){
    flex-direction: column;
    height: 100px;
  }
  @include media-breakpoint-only(md){
    width: 100px;
    margin-right: 20px;
  }
  @include media-breakpoint-down(sm){
    width: $nav_width_sm;
  }
}
.nav-social-btn{
  @extend .nav-btn-common;
  font-size: 15px;
  padding: 5px 0 5px 0;
}

// Font Awesome icons
.social-btn:hover{
  color: $cyan;
}

.nav_profile_img{
  width: $nav_profile_img_size;
  height: $nav_profile_img_size;
  border-radius: 100px;
  margin-bottom: 25px;
  @include media-breakpoint-only(md){
    display: none;
  }
}

// Overlay that shows up when the window width is blow sm and sidebar is open
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: rgba(255, 255, 255, 0.23);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

//display .overlay when it has the .active class
.overlay.active {
  @include media-breakpoint-down(sm) {
    display: block;
    z-index: 998;
    opacity: 1;
  }
}

// The hambuger menu button that shows up when the window width is below sm
#collapseBars{
  display: none;
  @include media-breakpoint-down(sm){
    position: fixed;
    display: inline-block;
    z-index: 1;
    top: 10px;
    left: 15px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 3px;
    background-color: #212121;
    color: white;
  }
}

#collapseBars.hidden{
  display: none;
}
