@import "modules/variables";
@import "modules/mixins";
@import 'modules/animations';

// Sidebar is a React component. It can be found in mySite/src/components/base/sidebar.js

// Navbar
#sidebar{
  background-color: $nav_color;
  height: 100%;
  z-index: 9000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-breakpoint-up(lg){
    height: 100vh;
    width: $nav_width_lg;
    position: fixed;
    bottom: 0;
    top: 0;
  }
  @include media-breakpoint-only(md){
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100vw;
    height: $nav_width_lg - 20px;
  }
  @include media-breakpoint-down(sm){
    display: block;
    transition-duration: 0.1s;
    width: $nav_width_sm;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-left: -($nav_width_sm + 10px);
  }
}

#sidebar.active{
  @include media-breakpoint-down(sm){
    transition-duration: 0.3s;
    margin-left: 0;
  }
}

//LOGO
#logo{
  width: $logo_size_lg;
  &:hover{
    @extend .heart-beat-animation;
  }
  @include media-breakpoint-down(sm){
    width: $logo_size_sm/2;
  }
}

// Navbar navigation buttons
.nav-btn-common{
  width: $nav_width_lg - 1;
  height: 50px;
  margin: 0 0 0 -7px;
  border-radius: 0;
  text-align: center;
  @include media-breakpoint-down(sm){
    width: $nav_width_sm - 1;
  }
}

// Main Navlink styling
.nav-btn{
  @extend .nav-btn-common;
  padding: 15px 2px 15px 2px;
  font-size: 9px;
  &:hover{
    background-color: #242424;
  }
  @include media-breakpoint-between(sm, md){
    padding: 20px 2px 15px 2px;
    margin: -5px 1px 0 0;
    height: $nav_width_lg - 23px;
  }
  @include media-breakpoint-down(sm){
    padding: 15px 2px 15px 35px;
    margin-left: -7px;
    text-align: left;
  }
}

// Shared content styling for the sidebar nav buttons on hover
.nav-cont-on-hover{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 8px;
}

// Changing the span content when the nav button is hovered and window width is above sm
.nav-btn:hover > i > span {
  @extend .nav-cont-on-hover;
  @include media-breakpoint-up(md){
    &:after {
      content: attr(data-after);
      margin-left: 5px;
    }
  }
}

// Changing the span content when the window width is below sm. Not paying attention to hover.
.nav-btn > i > span {
  @extend .nav-cont-on-hover;
  @include media-breakpoint-down(md){
    text-align: left;
    margin-left: 3px;
    &:after{
      content: attr(data-after);
    }
  }
}

// Sidebar social media icons
.nav-social-btn{
  @extend .nav-btn-common;
  font-size: 15px;
  @include media-breakpoint-down(md){
    padding: 0 0 10px 5px;
    width: 50px;
  }
}

// Font Awesome icons
.fa-social-btn:hover{
  color: #00acc1;
}

.nav_profile_img{
  width: $nav_profile_img_size;
  height: $nav_profile_img_size;
  @include media-breakpoint-only(md){
    display: none;
  }
}

// Overlay that shows up when the window width is blow sm and sidebar is open
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: rgba(255, 255, 255, 0.23);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

//display .overlay when it has the .active class
.overlay.active {
  @include media-breakpoint-down(sm) {
    display: block;
    opacity: 1;
  }
}

// The hambuger menu button that shows up when the window width is below sm
#collapseBars{
  display: none;
  @include media-breakpoint-down(sm){
    position: absolute;
    display: inline-block;
    z-index: 1;
    padding: 0 7px 0 7px;
    top: 25px;
    left: 35px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-left: $nav_width_sm;
  }
}

#collapseBars.hidden{
  display: none;
}