@import "modules/variables";
@import "modules/mixins";

#SkillsPageWrapper{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  padding-top: 70px;

  @include media-breakpoint-only(md){
    padding-top: 5px;
  }
}

.skill-list{
  > li {
    &:hover{
      background-color: #111111;
    }
  }
}
