@import "modules/variables";
@import "modules/mixins";
@import 'modules/animations';
@import "navbar";
@import "home";
@import "about";
@import "skills";
@import "contact";
@import "sidebar";

body{
  background-color: #1c1c1c;
  margin: 0;
}

//**** MAIN GRID LAYOUT ****///
#MainWrapper{
  display: grid;
  @include media-breakpoint-up(md){
    grid-template-columns: $nav_width_lg auto;
    grid-template-areas: "sidebar main";
  }
  @include media-breakpoint-between(sm, md){
    grid-template-columns: 100%;
    grid-template-rows: 10% auto;
    grid-template-areas: "sidebar"
                          "main";
  }
  @include media-breakpoint-down(sm){
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas: "main";
  }
}

#MainWrapper > #SidebarWrapper{
  grid-area: sidebar;
  @include media-breakpoint-up(lg){
    min-height: 100vh;
  }
}

#MainWrapper >  #ContentBodyWrapper{
  grid-area: main;
  @include media-breakpoint-only(md){
    min-height: 90vh;
  }
  @include media-breakpoint-down(sm){
    min-height: 100vh;
  }
}
//**** MAIN GRID LAYOUT ****///

ul, li{
  list-style: none;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
p:hover, p:visited, p:active, a:hover, a:visited, a:link, a:active, li {
    text-decoration: none !important;
    outline: 0;
}
input::-moz-focus-inner {
  border: 0;
}

//*** Font classes ***//
.primary-font{
  font-family: $primary-font;
}

.secondary-font{
  font-family: $secondary-font;
}

.third-font{
  font-family: $third-font;
}






