@import "modules/variables";
@import "modules/mixins";
@import 'modules/animations';
@import "navbar";
@import "home";
@import "about";
body{
  background-color: #1c1c1c;
}
ul, li{
  list-style: none;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
p:hover, p:visited, p:active, a:hover, a:visited, a:link, a:active, li {
    text-decoration: none !important;
    outline: 0;
}
input::-moz-focus-inner {
  border: 0;
}

// Font classes
.primary-font{
  font-family: $primary-font;
}

.secondary-font{
  font-family: $secondary-font;
}

.third-font{
  font-family: $third-font;
}


