@import "modules/variables";
@import "modules/mixins";

#AboutPageWrapper{
  display: grid;
  grid-template-rows: minmax(100vh, auto);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'text-content image';

  @include media-breakpoint-down(sm){
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: 'text-content'
                         'image';
  }
}

.about-right-content {
  grid-area: image;

  @include media-breakpoint-up(lg){
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include media-breakpoint-down(sm){
    text-align: center;
  }

  img {
    @include media-breakpoint-up(md){
      margin-left: 10%;
    }
  }
}

.about-left-content{
  grid-area: text-content;
  color: $main-text-color;
  padding: 30px;
  @include media-breakpoint-up(lg){
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  @include media-breakpoint-down(md){
    margin-top: 70px;
  }

  h1 {
    font-family: $secondary-font;
  }

  p {
    font-family: $primary-font;
    font-size: 0.9em;
    margin-top: 25px;
  }
}

.about-prof-img {
  border-radius: 10px;
  width: 80%;
  height: auto;

  @include media-breakpoint-only(md){
    margin-top: 150px;
  }
  @include media-breakpoint-down(sm){
    width: 70%;
  }
}