@import "modules/mixins";

#ContactPageWrapper{
  display: grid;
  grid-area: main;
  height: 100vh;
  color: white;

  @include media-breakpoint-up(md){
    grid-template-columns: 45% auto;
    grid-template-rows: 100%;
    grid-template-areas: "form map";
  }

  @include media-breakpoint-down(sm){
    grid-template-columns: 100vw;
    grid-template-rows: 700px 400px;
    grid-template-areas: "form"
                         "map";
  }
}

// Contact Form
#ContactFormWrapper{
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  @include media-breakpoint-up(md){
    flex-direction: column;
  }
  @include media-breakpoint-down(sm){
    padding-right: 15px;
    height: 700px;
  }
}

#ContactForm{
  padding: 30px;
}

#ContactFormFields{
  display: grid;
  grid-template-rows: repeat(2, 40px) 150px 70px;
  grid-template-columns: repeat(2, minmax(auto, 250px));
  grid-gap: 25px;

  @include media-breakpoint-down(sm){
    grid-template-rows: repeat(3, 40px) 150px 70px;
  }
}

.field-common{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-family: $third-font;
  font-size: 16px;
}

.name-field{
  @extend .field-common;
  grid-column: 1/2;
  grid-row: 1/2;

  @include media-breakpoint-down(sm){
    grid-column: 1/3;
  }
}

.email-field{
  @extend .field-common;
  grid-column: 2/3;
  grid-row: 1/2;

  @include media-breakpoint-down(sm){
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.subject-field{
  @extend .field-common;
  grid-column: 1/3;
  grid-row: 2/3;

  @include media-breakpoint-down(sm){
    grid-row: 3/4;
  }
}

.message-field{
  @extend .field-common;
  grid-column: 1/3;
  grid-row: 3/4;

  resize: none;

  @include media-breakpoint-down(sm){
    grid-row: 4/5;
  }
}

#ContactFormSubGrid{
  grid-column: 1/3;
  grid-row: 4/5;
  display: grid;
  margin-top: 5px;
  grid-template-rows: 100%;
  grid-template-columns: 100px auto;
  grid-gap: 20px;
  grid-template-areas: "button msg";

  @include media-breakpoint-down(sm){
    grid-row: 5/6;
  }

  p {
    grid-area: msg;
  }
}

.submit-btn{
  grid-area: button;
  width: 100px;
  color: $cyan !important;
  border: 2px $cyan solid;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.87);

  &:hover{
    background-color: rgba(0, 172, 193, 0.14);
    color: $cyan;
  }
}

// Google Map
#GoogleMapWrapper{
  grid-area: map;
  height: 100vh;
}
