// Navbar variables
$nav_color: black;
$nav_width_lg: 90px;
$nav_width_sm: 150px;
$logo_size_lg: 50px;
$logo_size_sm: $nav_width_sm;
$nav_profile_img_size: 50px;
$nav_fontawesome_icon_size: 25px;
$collapseBarsWrapper_height: 100px;